.BackgroundContainerTitle .Title {
  font-weight: bold;
  font-size: 12px;
  line-height: 105%;
}

.cellstyle,
.whiteBody {
  padding: 8px;
}

table,
td {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: hand;
}

a:hover {
  text-decoration: underline;
  cursor: hand;
}

.helptitle {
  font-size: 160%;
  font-weight: bold;
}

.xsmallFont {
  font-size: 71%;
}

.smallFont {
  font-size: 80%;
}

.shdr table {
  padding: 2px 0px;
}

.slogo {
  padding-left: 10px;
  padding-right: 6px;
  vertical-align: top;
}

.stitle {
  padding-top: 3px;
  font: bold 100% tahoma;
}

.slinks,
.shelp {
  padding-top: 7px;
}

.shelp {
  font-weight: bold;
}

.pplogo {
  padding: 4px 10px 0px;
}

.nsfl,
.nsft,
.nsft,
.search {
  text-decoration: none;
}

.preview,
.preview a,
.preview a:hover,
.preview a:visited {
  padding-bottom: 4px;
  font-size: 83%;
  vertical-align: bottom;
  font-weight: normal;
}

.hp {
  background-color: #ffffff;
}

.hp td .fixedTable {
  table-layout: fixed;
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
}

.midbutton {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
}

.midbuttonbg {
  background: url();
}

.midbuttonbg a:hover {
  text-decoration: none;
}

.bold,
strong {
  font-weight: bold;
}

input.button {
  padding: 0px 4px;
}

.sep,
.graysep {
  font-size: 11px;
}

hr {
  height: 1px;
}

.subnav tr td {
  padding: 0px 8px;
}

.bluebox {
  font-size: 140%;
}

.beNormalTab,
.beborderleft,
.beSelectedTab,
.bePreviewSelectedTab,
.beBlogNormalTab {
  font-size: 100%;
}

.shdrbg {
  width: 779px;
}

.red {
  color: Red;
}

.layoutBody {
  padding: 0px;
  width: 1004px;
  height: 768px;
  border-collapse: collapse;
}

table#layoutManager {
  height: 500px;
  width: 100%;
  table-layout: fixed;
}

div#toppage {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  padding-bottom: 11px;
  width: 990px;
  overflow: hidden;
}

.FullView #FullViewNav {
  padding-right: 5px;
  vertical-align: top;
  width: 150px;
  height: 100%;
}

.FullView #MainFocus {
  width: 835px;
  vertical-align: top;
  height: auto;
}

.OneCol #MainFocus {
  width: 990px;
  vertical-align: top;
}

.OneCol .ZigZagSpanFirst spaces\:widget,
.OneCol .ZigZagSpanFirst div.Widget {
  padding-left: 2px;
  padding-right: 3px;
  width: 490px;
}

.OneCol .ZigZagSpanFirst spaces\:widget.FullRegionWidth,
.OneCol .ZigZagSpanFirst div.Widget.FullRegionWidth {
  width: 985px;
}

.RightHeavyThreeCol #SupplementalW {
  padding-right: 5px;
  vertical-align: top;
  width: 180px;
}

.RightHeavyThreeCol #MainFocus {
  padding-right: 5px;
  vertical-align: top;
  width: 400px;
}

.RightHeavyThreeCol #SupplementalE {
  vertical-align: top;
  width: 400px;
}

.BackwardsTwoCol #MainFocus {
  width: 810px;
  vertical-align: top;
}

.BackwardsTwoCol .ZigZagSpanFirst spaces\:widget,
.BackwardsTwoCol .ZigZagSpanFirst div.Widget {
  padding-right: 5px;
  width: 400px;
}

.BackwardsTwoCol .ZigZagSpanFirst spaces\:widget.FullRegionWidth,
.BackwardsTwoCol .ZigZagSpanFirst div.Widget.FullRegionWidth {
  width: 805px;
}

.BackwardsTwoCol #SupplementalE {
  width: 180px;
  vertical-align: top;
}

.ClassicTwoCol #SupplementalW {
  width: 180px;
  vertical-align: top;
}

.ClassicTwoCol #MainFocus {
  width: 810px;
  vertical-align: top;
}

.ClassicTwoCol .ZigZagSpanFirst spaces\:widget,
.ClassicTwoCol .ZigZagSpanFirst div.Widget {
  padding-left: 5px;
  width: 400px;
}

.ClassicTwoCol .ZigZagSpanFirst spaces\:widget.FullRegionWidth,
.ClassicTwoCol .ZigZagSpanFirst div.Widget.FullRegionWidth {
  width: 805px;
}

.ClassicThreeCol #SupplementalW {
  padding-right: 5px;
  vertical-align: top;
  width: 180px;
}

.ClassicThreeCol #MainFocus {
  vertical-align: top;
  width: 625px;
}

.ClassicThreeCol .ZigZagSpanFirst spaces\:widget,
.ClassicThreeCol .ZigZagSpanFirst div.Widget {
  padding-right: 5px;
  width: 307px;
}

.ClassicThreeCol .ZigZagSpanFirst spaces\:widget.FullRegionWidth,
.ClassicThreeCol .ZigZagSpanFirst div.Widget.FullRegionWidth {
  width: 620px;
}

.ClassicThreeCol #SupplementalE {
  vertical-align: top;
  width: 180px;
}

.SymmetricTwoCol #MainFocus {
  padding-right: 5px;
  width: 492px;
  vertical-align: top;
}

.SymmetricTwoCol #SupplementalE {
  width: 492;
  vertical-align: top;
}

spaces\:widget,
div.Widget {
  padding-bottom: 8px;
  display: block;
}

.ZigZagSpanFirst spaces\:widget,
.ZigZagSpanFirst div.Widget {
  float: left;
}

.partDetail {
  width: 100%;
}

.Divider {
  background: #c4dcf2;
}

.AllowListBuddyList {
  border: 1px solid #4f8cb9;
  width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 190px;
}

.customizePopup {
  font-family: Tahoma, Helvetica, Sans-Serif;
}

.beRTEDL,
#previewbox {
  font-size: 100%;
}

.bold,
a.entryttl {
  font-weight: bold;
}

.searchtitle {
  padding-bottom: 3px;
  font-weight: bold;
}

a.belink,
a.belink:hover {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.Part {
  cursor: pointer;
  font-weight: bold;
}

.settingsHead {
  font-size: 71%;
}

.editBox {
  height: 17px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 11px;
  width: 180px;
}

textarea.textEditBox {
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 11px;
}

.DetailSection {
  border: 1px solid #ff950b;
}

.DetailSectionHeader {
  color: #444444;
  font-weight: bold;
  background-color: #FFFBD5;
}

.DetailSectionError {
  border: 1px solid #444;
  color: #444444;
  background-color: #FFFBD5;
}

.italic {
  font-style: italic;
}

.ListBox {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 11px;
  font-family: Tahoma;
}

.ListBoxSelected {
  background-color: #FEF79F;
  font-size: 11px;
  font-family: Tahoma;
}

.DetailSectionFormElements {
  border: 1px solid #999;
}

.MontageHoverTileBorder {
  background-color: #FFFFFF;
}

.imageBorder {
  border: #000;
}

.imageShadow {
  background-color: #888888;
}

.createAccount {
  padding: 5px;
}

.favoriteSearch,
.favoriteSearchFocus {
  font-family: Tahoma;
  font-size: 12px;
}

.ControlTable {
  table-layout: fixed;
}

.XLargeContactControl .ControlTable {
  border: 0px;
  width: 132px;
}

.XLargeContactControl .FirstRow {
  height: 98px;
  width: 132px;
}

.XLargeContactControl .ImageCell {
  width: 98px;
}

.XLargeContactControl .DisplayImage {
  border: 1px;
}

.XLargeContactControl .IconCell {
  width: 18px;
}

.XLargeContactControl .DisplayNameRow {
  width: 116px;
  height: 22px;
}

.XLargeContactControl .DisplayNameCell {
  height: 22px;
  width: 116px;
}

.XLargeContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 116px;
  height: 18px;
}

.XLargeContactControl .MarginCell {
  width: 8px;
}

.XLargeContactControl .HeaderMarginCell {
  height: 8px;
  width: 8px;
}

.XLargeContactControl .HeaderIconCell {
  height: 8px;
  width: 18px;
}

.XLargeContactControl .HeaderImageCell {
  height: 8px;
  width: 98px;
}

.XLargeContactControl .MarginRow {
  height: 8px;
  width: 132px;
}

.LargeContactControl .ControlTable {
  border: 0px;
  width: 92px;
}

.LargeContactControl .FirstRow {
  height: 66px;
  width: 92px;
}

.LargeContactControl .ImageCell {
  width: 64px;
}

.LargeContactControl .DisplayImage {
  border: 1px;
}

.LargeContactControl .IconCell {
  width: 17px;
}

.LargeContactControl .DisplayNameRow {
  width: 92px;
  height: 30px;
}

.LargeContactControl .DisplayNameCell {
  height: 30px;
  width: 82px;
}

.LargeContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82px;
  height: 18px;
}

.LargeContactControl .MarginCell {
  width: 8px;
}

.LargeContactControl .HeaderMarginCell {
  height: 8px;
  width: 8px;
}

.LargeContactControl .HeaderIconCell {
  height: 8px;
  width: 17px;
}

.LargeContactControl .HeaderImageCell {
  height: 8px;
  width: 65px;
}

.LargeContactControl .MarginRow {
  height: 8px;
  width: 92px;
}

.MediumContactControl .ControlTable {
  border: 0px;
  width: 74px;
}

.MediumContactControl .FirstRow {
  height: 58px;
  width: 74px;
}

.MediumContactControl .ImageCell {
  width: 46px;
}

.MediumContactControl .DisplayImage {
  border: 1px;
}

.MediumContactControl .IconCell {
  width: 16px;
}

.MediumContactControl .DisplayNameRow {
  width: 74px;
  height: 22px;
}

.MediumContactControl .DisplayNameCell {
  height: 22px;
  width: 62px;
}

.MediumContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 62px;
  height: 18px;
}

.MediumContactControl .MarginCell {
  width: 8px;
}

.MediumContactControl .HeaderMarginCell {
  height: 8px;
  width: 8px;
}

.MediumContactControl .HeaderIconCell {
  height: 8px;
  width: 16px;
}

.MediumContactControl .HeaderImageCell {
  height: 8px;
  width: 46px;
}

.MediumContactControl .MarginRow {
  height: 8px;
  width: 74px;
}

.SmallContactControl .ControlTable {
  border: 0px;
  width: 60px;
}

.SmallContactControl .FirstRow {
  height: 36px;
  width: 60px;
}

.SmallContactControl .ImageCell {
  width: 46px;
}

.SmallContactControl .DisplayImage {
  border: 1px;
}

.SmallContactControl .IconCell {
  width: 12px;
}

.SmallContactControl .DisplayNameRow {
  width: 98px;
  height: 22px;
}

.SmallContactControl .DisplayNameCell {
  height: 22px;
  width: 82px;
}

.SmallContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82px;
}

.SmallContactControl .MarginCell {
  width: 6px;
}

.SmallContactControl .HeaderMarginCell {
  height: 6px;
  width: 6px;
}

.SmallContactControl .HeaderIconCell {
  height: 6px;
  width: 12px;
}

.SmallContactControl .HeaderImageCell {
  height: 6px;
  width: 36px;
}

.SmallContactControl .MarginRow {
  height: 6px;
  width: 60px;
}

.XSmallContactControl .ControlTable {
  border: 0px;
  width: 51px;
}

.XSmallContactControl .FirstRow {
  height: 27px;
  width: 51px;
}

.XSmallContactControl .ImageCell {
  width: 27px;
}

.XSmallContactControl .DisplayImage {
  border: 1px;
}

.XSmallContactControl .IconCell {
  width: 12px;
}

.XSmallContactControl .DisplayNameRow {
  width: 98px;
  height: 15px;
}

.XSmallContactControl .DisplayNameCell {
  height: 15px;
  width: 82px;
}

.XSmallContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82px;
}

.XSmallContactControl .MarginCell {
  width: 6px;
}

.XSmallContactControl .HeaderMarginCell {
  height: 6px;
  width: 6px;
}

.XSmallContactControl .HeaderIconCell {
  height: 6px;
  width: 12px;
}

.XSmallContactControl .HeaderImageCell {
  height: 6px;
  width: 27px;
}

.XSmallContactControl .MarginRow {
  height: 6px;
  width: 51px;
}

.XXSmallContactControl .ControlTable {
  border: 0px;
  width: 44px;
}

.XXSmallContactControl .FirstRow {
  height: 20px;
  width: 44px;
}

.XXSmallContactControl .ImageCell {
  width: 20px;
}

.XXSmallContactControl .DisplayImage {
  border: 1px;
}

.XXSmallContactControl .IconCell {
  width: 12px;
}

.XXSmallContactControl .DisplayNameRow {
  width: 98px;
  height: 15px;
}

.XXSmallContactControl .DisplayNameCell {
  height: 15px;
  width: 82px;
}

.XXSmallContactControl .DisplayNameSpan {
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82px;
}

.XXSmallContactControl .MarginCell {
  width: 6px;
}

.XXSmallContactControl .HeaderMarginCell {
  height: 6px;
  width: 6px;
}

.XXSmallContactControl .HeaderIconCell {
  height: 6px;
  width: 12px;
}

.XXSmallContactControl .HeaderImageCell {
  height: 6px;
  width: 20px;
}

.XXSmallContactControl .MarginRow {
  height: 6px;
  width: 44px;
}

.helpLink:link,
.helpLink:visited,
.helpLink:active {
  text-decoration: none;
}

.helpLink:hover {
  text-decoration: underline;
}

textarea.ErrorPage {
  width: 500px;
  height: 200px;
  overflow: auto;
}

td.ErrorPageSpacer {
  height: 10px;
}

.divAlbumTitle {
  font-size: 100%;
}

div.bvEntry .footer {
  margin: 10px 0px 5px;
  padding-top: 3px;
  padding-bottom: 5px;
  width: 100%;
}

div.bvEntry .footer span {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 5px;
}

div.bvEntry .footer span.last {
  border-right-width: 3px;
  border-right-style: none;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

div.bvEntry .footerLinks {
  margin: 10px 0px 0px;
  padding-top: 3px;
  width: 100%;
}

div.bvEntry .footerLinks ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

div.bvEntry .footerLinks ul li {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  margin-right: 5px;
  padding-right: 5px;
  float: left;
}

div.bvEntry .footerLinks ul li.last {
  border-right-width: 3px;
  border-right-style: none;
  margin-right: 0px;
  padding-right: 0px;
}