#DivInfoPane {
    width: 507px;
    height: 237px;
}

#DivMidColContainerUpper {
    margin-top: 5px;
}

#DivMidColContainerUpper,
#DivMidColContainerLower,
#DivActionPaneContainer {
    width: 516px;
    background-color: #FFFFFF;
    text-align: left;
}

#DivInfoPane img,
#DivMidColContainerUpper img,
#DivMidColContainerLower img,
#DivActionPaneContainer img,
.DivRtColBoxContainer img,
.DivRtColBoxHeader img {
    display: block;
}

#DivActionPane {
    width: 507px;
    height: 55px;
    color: #FFFFFF;
    font-family: Verdana, Arial, Tahoma;
    margin-bottom: 5px;
}

#DivActionPane a {
    font-family: Verdana, Arial, Tahoma;
    color: #FFFFFF;
}

#DivActionContainer {
    text-align: center;
    padding-top: 12px;
}


#DivBoxSet {
    width: 507px;
}

.DivSingleBoxContainer {
    float: left;
    width: 165px;
    background-image: url(../img/SingleBoxBackground.gif);
    background-repeat: repeat-y;
    cursor: pointer;
}

.DivSingleSubBoxContainer {
    float: left;
    width: 249px;
    background-image: url(../img/SingleSubBoxBackground.gif);
    background-repeat: repeat-y;
}

.DivSingleBoxPhotoRow img {
    border: solid 0px #000000;
}

.DivSingleBoxHeader {
    padding-bottom: 4px;
}


.DivSingleBoxHeaderBlock {
    background-color: #68ca37;
    width: 153px;
    display: block;
    color: #FFFFFF;
    font-size: 100%;
    font-family: Verdana, Tahoma, Arial;
    font-weight: bold;
}
.DivSingleBoxHeaderBlock a
{
    color:#FFFFFF;
    text-decoration:none;
}

.DivSingleSubBoxHeaderBlock {
    background-color: #68ca37;
    width: 237px;
    display: block;
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-weight: bold;
}

.DivSingleBoxHeaderContainer {
    padding: 3px;
}

.FloatLeft {
    float: left;
}

.ClearBoth {
    clear: both;
}

.DivSingleBoxDescp {
    width: 158px;
}

.DivSingleSubBoxDescp {
    width: 242px;
    text-align: left;
}

.DivHomeSingleBoxDescpText {
    float: left;
    padding-top: 10px;
    padding-left: 5px;
    width: 145px;
}

.DivSingleBoxDescpText {
    float: left;
    padding-top: 10px;
    padding-left: 5px;
    width: 230px;
}

.DivSingleBoxDescp div,
.DivSingleSubBoxDescp div {
    color: #333333;
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
}

.DivSingleBoxDivider {
    float: left;
    width: 6px;
}

.DivSingleSubBoxDivider {
    float: left;
    width: 9px;
}

.DivActionItemDivider {
    float: left;
    width: 5px;
}


.DivRtColBoxContainer {
    width: 300px;
    background-image: url(../img/RtColBoxBackground.gif);
    background-repeat: repeat-y;
}

.DivRtColBoxHeaderBlock {
    background-color: #e15628;
    width: 285px;
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-weight: bold;
}

.DivRtColBoxHeaderContainer {
    padding: 3px;
}

.DivRtColBoxBody {
    color: #000000;
    font-family: Verdana, Tahoma, Arial;
    padding: 10px;
}

.DivRtColBoxBody .textboxes {
    width: 275px;
}

.DivRtColBoxBody .DivRtColBoxControls {
    text-align: right;
    width: 280px;
}

#DivTabContainer,
#DivTabContainer a {
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}

#DivTabContainer a:hover {
    text-decoration: underline;

}

#DivInfoPaneTab01 {
    background-image: url(img/InfoPaneTabs01On.gif);
    background-repeat: no-repeat;
    width: 125px;
    height: 31px;
    text-align: center;
    background-color: #3a9da3;
}

#DivInfoPaneTab02 {
    background-image: url(../img/InfoPaneTabs02Off.gif);
    background-repeat: no-repeat;
    width: 125px;
    height: 31px;
    text-align: center;
    background-color: #3a9da3;
}

#DivInfoPaneTab03 {
    background-image: url(../img/InfoPaneTabs03Off.gif);
    background-repeat: no-repeat;
    width: 125px;
    height: 31px;
    text-align: center;
    background-color: #3a9da3;
}

#DivInfoPaneTab04 {
    background-image: url(../img/InfoPaneTabs04Off.gif);
    background-repeat: no-repeat;
    width: 122px;
    height: 31px;
    text-align: center;
    background-color: #3a9da3;
}

.SpanTabText {
    display: block;
    padding-top: 5px;
}

#DivTabTextDescription {
    width: 494px;
    height: 31px;
    background-color: #3a9da3;
    float: left;
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-size: 110%;
    font-weight: bold;
    text-align: right;
}

#SpanTabDescription {
    display: block;
    padding-top: 5px;
    padding-right: 23px;
}

#DivSubInfoPaneText {
    width: 491px;
    height: 31px;
    background-color: #3a9da3;
    float: left;
    color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial;
    font-size: 110%;
    font-weight: bold;
}

#SpanSubInfoPaneTextTitle {
    display: block;
    padding-top: 5px;
    padding-left: 8px;
    width: 483px;
}

#SpanDescription01 {
    display: block;
}

#SpanDescription02,
#SpanDescription03,
#SpanDescription04 {
    display: none;
}

.DivSubBoxSetRow {
    margin-bottom: 7px;
}

#DivBodyContainer {
    width: 507px;
}

#DivBodyContent {
    font-family: Verdana, Tahoma, Arial;
    padding: 10px 10px 10px 10px;

}

#DivBodyContent h1 {
    font-size: 120%;
    color: #003366;
    margin-top: 0px;
    margin-bottom: 0px;

}

#DivBodyContent h2 {
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;
}

#DivBodyContent p,
#DivBodyContent ul {
    font-size: 100%;
}
