div.Footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e9eaf1;
    margin: 8px 0px;
    padding: 3px 8px;
    clear: both;
    color: #444444;
}

div.Footer ul {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    list-style: none;
}

div.Footer ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
    unicode-bidi: embed;
    direction: ltr;
}

div.FooterLeft {
    float: left;
}

div.FooterRight {
    float: right;
}

div.Footer ul li.copyright {
    padding-right: 4px;
}

div.Footer a {
    color: #444444;
}

div.Footer a:hover {
    text-decoration: underline;
}