div#header .inside {
  width: 1001px;
  margin: auto;
}

body,
.mainbg {
  text-align: center;
}

.centerBody {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 995px;
}

.container {
  margin: auto;
  padding-top: 2px;
  width: 779px;
}

#head,
#foot,
#bannerad,
#search input,
#search label {
  font-size: 11px;
}

html #head,
html #foot,
html #bannerad {
  font-size: 70%;
}

#head {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #183390;
  margin-top: 2px;
  text-align: right;
}

#foot {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eee;
  padding-top: 9px;
}

#head,
#foot {
  background-color: #fff;
  color: #666;
}

#head a,
#head a:visited,
#foot a,
#foot a:visited {
  background-color: #fff;
  color: #183390;
}

#head h1 a:hover {
  text-decoration: none;
}

#search {
  margin: 0px 0px 15px;
  padding: 0px;
  font-size: 100%;
  text-align: right;
}

#search fieldset {
  border: 3px none;
  margin: 0px;
  padding: 0px;
}

#head h1 {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  clear: left;
  float: left;
  font-size: 22px;
  font-weight: normal;
  text-align: left;
}

#head h1 img {
  vertical-align: text-bottom;
}

#search input.button {
  border: 1px solid #2263a5;
  background: #cf0 url() repeat-x 0 0;
  color: #fff;
  font-weight: bold;
}

#search #q {
  border: 1px solid #999;
  margin-left: 3px;
  width: 116px;
}

#foot li,
#head li {
  padding: 0px 0px 0px 12px;
  display: inline;
  height: 1%;
}

#head #big6 {
  margin-bottom: 15px;
  float: left;
  position: relative;
  top: 4px;
}

#head ul#netnav {
  text-align: right;
  width: 515px;
}

#head ul#netnav li.last a {
  font-weight: bold;
}

#head ul#subnav {
  text-align: right;
}

#head #subnav li {
  line-height: 35px;
  vertical-align: bottom;
}

#foot li.first,
#head li.first {
  padding: 0px;
}

#foot ul,
#head ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: left;
}

#foot ul#legal {
  float: left;
}

#foot ul#support {
  text-align: right;
}

#bannerad div {
  margin: 10px 0px 12px;
  text-align: center;
  width: 100%;
}

ul#subnav {
  position: relative;
  bottom: -8px;
}

html #search #q {
  height: 18px;
}

html #search input.button {
  height: 18px;
}

.advert {
  color: #4d4d4d;
}

.homeHead {
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 130%;
  color: #3EAB50;
}

.homefree {
  color: #2756B2;
}

.padL25 {
  padding-left: 25px;
}

.padbuttons {
  padding-left: 19px;
  padding-right: 27px;
}

.signinbtn {
  border: 1px solid #1c5425;
  height: 20px;
  width: 160px;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background: #a4e1ae url() repeat-x 0 0;
}

.iconheader {
  padding-left: 7px;
  background: #183390;
  color: #ffffff;
}

.padL6 {
  padding-left: 6px;
}

.sepline {
  color: #183390;
}

.contentarea {
  padding: 14px;
  background: #F2F5FB;
}

.contentbody {
  border: 1px solid #183390;
}

ul#bluebullet {
  margin: 16px;
  overflow: hidden;
}

ul#bluebullet li {
  color: #2756b2;
}

.mainbody {
  width: 1004px;
}

.boxedSubHeader {
  border: 1px solid #2756b2;
  padding-left: 3px;
  background-color: #F2F5FB;
  font-size: 130%;
  font-weight: bold;
}

.MainFocusTable {
  float: left;
}

.LeftNavCell {
  border: 1px solid #c8dcf3;
  vertical-align: top;
  width: 150px;
  height: 100%;
}

.MainFocusCell {
  border: 1px solid #c8dcf3;
  width: 839px;
  vertical-align: top;
  height: 100%;
}

ul.List {
  margin: 0px;
  padding: 0px;
  text-align: left;
  list-style: none;
}

ul.List li a {
  padding: 8px 0px 5px 8px;
  text-decoration: none;
  color: #333333;
  display: block;
}

ul.List li a:hover {
  text-decoration: none;
  background-color: #edf2fb;
}

ul.List li.On a {
  background-color: #d2eaf6;
}

.hpmoduletitle {
  padding: 5px 8px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 92%;
  color: #646464;
  background-color: #ececec;
}

.hpadscell {
  vertical-align: top;
  width: 140px;
}

.hpadscellmatchdotcom {
  vertical-align: top;
  width: 140px;
}

.hpadstable {
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-color: #c8dcf3;
  border-bottom-color: #c8dcf3;
  width: 140px;
  background-color: #EDF8ED;
}

.hpadstitle {
  padding-top: 19px;
  color: #898989;
  font-family: Tahoma;
  font-size: 11px;
}

.hpadsfirstrow {
  padding-left: 7px;
  padding-top: 20px;
  font-family: Tahoma;
  font-size: 11px;
}

.hpadsfirstrow a {
  text-decoration: underline;
}

.hpadsrow {
  padding-left: 7px;
  padding-right: 7px;
  font-family: Tahoma;
  font-size: 11px;
}

.hpadsrow a {
  color: #898989;
}

.hp {
  background-color: #ffffff;
}

.hp td,
.hplink {
  color: #ffffff;
}

.htitle {
  font-size: 130%;
}

.hpbluehdr {
  font-size: 110%;
  font-weight: bold;
}

.hpbluebg {
  background-color: #88b2cf;
}

.hppartnersec {
  background-color: #ec6e20;
  font-weight: bold;
  font-size: 80%;
}

.hpbluesection td,
.hppartnertbl td {
  color: #000000;
}

.hpbullet li {
  color: #004377;
}