.footerbar {
  padding-top: 7px;
  height: 22px;
  font-size: 100%;
}

.bottomfilterresults {
  padding-left: 7px;
  padding-top: 7px;
  background-color: #F1F8FF;
  height: 26px;
  vertical-align: middle;
}

.errorsection {
  border: 1px solid #c8dcf3;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-indent: 0px;
  height: 28px;
  font-family: Verdana;
  font-size: 100%;
  color: #373737;
  background-color: #FFFFE1;
}

.sectionHeaderTable {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #c8dcf3;
  border-bottom-color: #c8dcf3;
  height: 26px;
  background-color: #EAF3FF;
  font-family: Verdana;
  font-size: 100%;
}

.sectionTitleSpan {
  padding-right: 11px;
  font-size: 14px;
  font-weight: bold;
  color: #373737;
}

a.sectionTitleLink:hover,
.sectionTitleLink {
  padding-right: 11px;
  font-size: 14px;
  font-weight: bold;
}

.sectionCount {
  font-size: 100%;
  color: #707073;
}

.sectionPagination {
  padding-right: 7px;
  font-size: 100%;
  color: #0068CF;
}

.photorepeatercol {
  padding: 10px 12px 10px 27px;
  font-family: Verdana;
  font-size: 100%;
  color: #0068CF;
}

.listsrepeatercolleft {
  padding-left: 10px;
}

.listsrepeatercollink {
  padding-left: 6px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-family: Verdana;
  font-size: 100%;
  color: #0068CF;
}

.listsrepeatercoltext {
  font-family: Verdana;
  font-size: 100%;
  color: #373737;
}

.resulttype {
  padding-left: 7px;
  line-height: 38px;
  font-family: Verdana;
  font-size: 100%;
  color: #373737;
}

.spellsuggest {
  padding-left: 7px;
  padding-top: 10px;
  font-family: Verdana;
  font-size: 100%;
  color: #FF8000;
  font-weight: bold;
}

.itemseperator {
  color: #E6E5E5;
}

.cellformatleftright {
  padding-bottom: 15px;
  line-height: 25px;
}

.filterformat {
  padding: 7px;
  color: #373737;
  font-family: Verdana;
  font-size: 100%;
}

.filterinput {
  border: 1px solid #97b7f8;
  height: 19px;
  color: #373737;
  font-family: Verdana;
  font-size: 100%;
}

.cannedtext {
  padding-left: 7px;
  font-family: Verdana;
  font-size: 100%;
  color: #373737;
  text-align: left;
}

.interestssearchbox {
  padding: 10px;
  font-family: Verdana;
  font-size: 100%;
  color: #373737;
  text-align: left;
}

.sectionheadertext {
  padding-left: 15px;
  padding-top: 7px;
  font-family: Verdana;
  font-size: 110%;
  color: #373737;
  text-align: left;
}

.helptext {
  padding-right: 7px;
  font-family: Verdana;
  font-size: 100%;
  text-align: right;
  color: #0068CF;
}

.tagsarea {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  font-family: Verdana;
  color: #0068CF;
}