.searchboxheader {
  font-size: 110%;
  font-weight: bold;
}

.searchboxtable {
  border-collapse: collapse;
}

.inputblue {
  border: 1px solid #c8dcf3;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 224px;
  height: 15px;
  font: inherit;
  font-family: Verdana, Tahoma, Arial, sans-serif;
}

.inputgraytext {
  color: #BFBBBB;
}

.advpeoplefind {
  color: #0068CF;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 110%;
  text-align: left;
}

.apssearchpagediv {
  border: 1px solid #c8dcf3;
  background: white;
  display: none;
  position: absolute;
}

.apsmaindiv {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 100%;
  width: 300px;
}

.apslabel {
  padding-left: 8px;
  font-size: 92%;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  color: #707073;
}

.apsinput {
  border: 1px solid #888;
  margin-left: 8px;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 92%;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  width: 280px;
}

.apsinputgray {
  color: #BFBBBB;
}

.apsbuttondiv {
  border: 3px none;
  padding-right: 5px;
  padding-top: 8px;
  height: 2em;
}

.apsbuttontext {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 95%;
  color: #00156e;
  text-align: center;
}

.closebtn {
  padding-right: 6px;
  padding-top: 6px;
}