.PrimaryTextColor,
a.PrimaryTextColor:visited {
  color: #444444;
}

.SecondaryTextColor,
a.SecondaryTextColor:visited {
  color: #AAAAAA;
}

.SecondaryTextBorder {
  border: 1px solid #aaa;
}

.DisabledTextColor,
a.DisabledTextColor:visited {
  color: #C7C7C7;
}

.SourceTextColor,
a.SourceTextColor:visited {
  color: #1AAB1F;
}

.HighlightTextColor,
a.HighlightTextColor:visited {
  color: #F07522;
}

.InlineError,
a.InlineError:visited {
  color: #EE2037;
}

.InlineSuccess,
a.InlineSuccess:visited {
  color: #5A8E4A;
}

.LightTextColor,
a.LightTextColor:visited {
  color: #FFFFFF;
}

.DarkTextColor,
a.DarkTextColor:visited {
  color: #444444;
}

.PageBGColor {
  background-color: transparent;
}

.ContainerBorderLeft {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e9eaf1;
}

.ContainerBorderRight {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e9eaf1;
}

.ContainerBorderTop {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9eaf1;
}

.ContainerBorderBottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9eaf1;
}

.ContainerBGColor {
  background-color: #FFFFFF;
}

.ContainerBGColor2 {
  background-color: #F1F7F7;
}

.ContainerHeaderBGColor {
  background-color: #FFFFFF;
}

.ContainerHeaderTextColor,
a.ContainerHeaderTextColor:visited {
  color: #444444;
}

.ContainerHeaderLinkColor,
a.ContainerHeaderLinkColor:visited {
  color: #0066A7;
}

.HeaderBGColor {
  background-color: #053679;
}

.HeaderMeTileBorderColor {
  border: 1px solid #3a8aae;
}

.SuperAdTextColor,
a.SuperAdTextColor:visited {
  color: #FFFFFF;
}

.FooterTextColor,
a.FooterTextColor:visited {
  color: #444444;
}

.ToolbarBGColor {
  background-color: #FFFFFF;
}

.BreadcrumbTextColor,
a.BreadcrumbTextColor:visited {
  color: #444444;
}

.BreadcrumbLinkColor,
a.BreadcrumbLinkColor:visited {
  color: #444444;
}

.ContainerNoPadding {
  border: 1px solid #e9eaf1;
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: repeat-x;
}

.ContainerLeftNav {
  border: 1px solid #e9eaf1;
  background-color: #F1F7F7;
  background-image: url("");
  background-repeat: repeat-x;
}

.ContainerMovable {
  border: 1px solid #e9eaf1;
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: repeat-x;
}

.ContainerFullView {
  border: 1px solid #e9eaf1;
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: repeat-x;
}

.Container {
  border: 1px solid #e9eaf1;
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: repeat-x;
}

.ContainerHeader {
  font-weight: bold;
  font-size: 125%;
  line-height: 105%;
}

.ContainerLeftNav .ContainerHeader {
  background-image: none;
  background-color: Transparent;
}

.ContainerFullView .ContainerHeader {
  background-image: none;
  background-color: Transparent;
}

#AdContainer {
  background-color: #053679;
}

.Breadcrumb {
  border: 1px none;
}

.LeftNav .List .On {
  padding: 8px 8px 5px 16px;
  background-color: #D2EAF6;
}

.LeftNav .List {
  border: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  _height: 1px;
}

.LeftNav .List li {
  margin: 0px;
  padding: 0px;
}

.LeftNav .List li a {
  padding: 8px 8px 5px 16px;
  display: block;
  color: #444444;
  text-decoration: none;
}

.LeftNav .List li a.disabledLink,
.LeftNav .List li a.disabledLink:hover {
  color: #C7C7C7;
  background-color: Transparent;
}

html>body .LeftNav .List li a {
  width: auto;
}

.LeftNav .List li a:visited {
  color: #444444;
}

.LeftNav .List li a:hover {
  background-color: #EDF2FB;
  text-decoration: none;
  color: #444444;
}

.ErrorBorder {
  border: 1px solid #e9eaf1;
}

.ErrorLayout {
  border: 1px solid #e9eaf1;
  padding: 6px 4px 4px;
}

.ErrorHigh {
  border: 1px solid #e9eaf1;
  padding: 6px 4px 4px;
  background-color: #FFAEB9;
  color: #444444;
}

.ErrorMed {
  border: 1px solid #e9eaf1;
  padding: 6px 4px 4px;
  background-color: #FFFFAE;
  color: #444444;
}

.ErrorLow {
  border: 1px solid #e9eaf1;
  padding: 6px 4px 4px;
  background-color: #FFFFFF;
  color: #444444;
}

.ErrorHigh a,
.ErrorMed a,
.ErrorLow a {
  text-decoration: underline;
  color: #0066A7;
}

.ErrorHigh a:visited,
.ErrorMed a:visited,
.ErrorLow a:visited {
  color: #0066A7;
}

.spudhelp a {
  color: #444444;
}

.beSelectedTab,
.bePreviewSelectedTab,
.beborderleft,
.beborderleftdarkbg,
.blueBottom,
.bluebox,
.onlinePhotoBox {
  background-color: #D2EAF6;
}

.beborderleftdarkbg,
.beNormalTab,
.beBlogNormalTab {
  background-color: #FFFFFF;
}

.blueBottom,
.onlinePhotoBox,
.blueBox,
.beNormalTab,
.bePreviewSelectedTab,
.beBlogNormalTab,
.beSelectedTab,
.beborderleftdarkbg,
.bline,
.beborderleft,
.beborderleftdarkbg {
  border: 1px solid #e9eaf1;
}

.blueBottom {
  border-top-width: 0px;
  border-top-style: none;
}

.bline {
  border-width: 0px 0px 1px;
  border-style: solid;
}

.bePreviewSelectedTab {
  border-bottom-style: none;
}

.beBlogNormalTab {
  border-left-style: none;
}

.beSelectedTab {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
}

.beborderleft {
  border-width: 1px 0px 0px 1px;
  border-style: solid;
}

.beborderleftdarkbg {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
}

.infoBar a,
.bvError a,
.bvError table a,
.bvSectionContentY tr td a,
.profilePendingReq a,
.profilePendingReq table a,
.listErrorCell a {
  color: #0066A7;
  text-decoration: underline;
}

.infoBar a:visited,
.bvError a:visited,
.bvError table a:visited,
.bvSectionContentY tr td a:visited,
.profilePendingReq a:visited,
.profilePendingReq table a:visited,
.listErrorCell a:visited {
  color: #0066A7;
}

.infoBar,
.bvError,
.bvError table,
.bvError tr td,
.bvSectionContentY tr td,
.profilePendingReq,
.profilePendingReq table,
.profilePendingReq tr td,
.listErrorCell {
  color: #444444;
}

.infoBar,
.bvSectionContentY,
.bvError,
.listErrorCell {
  border: 1px solid #e9eaf1;
}

.infoBar,
.bvError,
.bvError table,
.bvSectionContentY tr td,
.profilePendingReq,
.listErrorCell {
  background-color: #FFFFAE;
}

.photoFolderHL {
  background-color: #000000;
}

.blackFont,
#PhotoId a {
  color: #000000;
}

.redText {
  color: Red;
}

.grayText,
#AttachedPhotos .grayText,
#AttachedPhotos .grayText a {
  color: #7f7f7f;
}

body,
.mainbg,
.BackgroundBody {
  background-color: #FFFFFF;
}

.dragDropSlider {
  background-color: #D2EAF6;
}

.mainbody {
  background-color: transparent;
}

#innerBody {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
}

.taskbar,
.SUContentPane,
.whiteBody,
.partsmb,
.mb,
.MPInfo {
  background-color: #FFFFFF;
}

.blogpost .MSN_EDITCONTAINER,
div#bePicRow,
.blogpost .MSN_TOOLBAR {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9eaf1;
}

.blogpost .MSN_EDITCONTAINER {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9eaf1;
}

.spAToolbar {
  background-color: #FFFFFF;
  background-image: url("");
  background-repeat: repeat-x;
  color: #444444;
}

.spAToolbar a,
.spAToolbar a:visited {
  color: #444444;
}

body,
.bvSectionContentPC tr td,
.search input,
.belink,
.contentFont,
.onlinePhotoBox {
  color: #444444;
}

.modhead table {
  color: #444444;
}

.partsubhead {
  color: #AAAAAA;
}

.linklist,
.onlinePhotoBox a,
.linkedEllipseColor {
  color: #0066A7;
}

.errorText {
  color: #EE2037;
}

.graytitle,
.notgray,
.msheader td {
  color: #AAAAAA;
}

.spAToolbar .spDisabled,
.disabledModHead,
td a.disabledModHead,
.disabledModHeadSep {
  color: #C7C7C7;
}

.disabledLink,
td a.disabledLink {
  color: #C7C7C7;
}

.bvSectionContentG,
.disabledText {
  color: #C7C7C7;
}

.disabledLink,
td a.disabledLink,
.bvSectionContentG,
bvSectionTitle tr td .disabledLink,
.disabledMainNav,
.disabledModHead,
td a.disabledModHead {
  cursor: text;
}

.disabledMainNav#editLayoutButton a:hover,
a.disabledLink:hover,
td a.disabledLink:hover,
a.disabledModHead:hover,
td a.disabledLink:hover,
td a.disabledModHead:hover {
  text-decoration: none;
  cursor: text;
}

.FormElementBorder {
  border: 1px solid #444;
}

.DetailSectionFormElements,
.textinput,
.textinput_narrow,
.imgcontainer {
  border: 1px solid #444;
}

input.editBox,
div.InputWrapper,
.txtURL,
textarea.textEditBox {
  border: 1px solid #444;
}

input.text {
  border: 1px solid #444;
}

input.profileUI,
textarea.profileUI,
select.profileUI {
  border: 1px solid #444;
}

div.Live_ControlsEx_Popover div.PopoverBody div.InputWrapper {
  border: #444;
}

.COMMENTENTRY .MSN_EDITCONTAINER {
  border: 1px solid #444;
}

.COMMENTENTRY .MSN_TOOLBAR {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444;
}

.abHeader,
.abArea {
  border: 1px solid #e9eaf1;
}

.taskbar,
#maintbl,
.searchsubnav,
.blueNB,
.SimpleBorder,
.categoryBox,
.innerList,
#PartsBucket,
div.bvEntry .footer {
  border: 1px solid #e9eaf1;
}

div.bvEntry .footer {
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

#FullExplorer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9eaf1;
}

.line {
  background-color: #E9EAF1;
}

.borderline {
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: #e9eaf1;
}

div#navBar div.AdminNav {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9eaf1;
}

.tips {
  margin-bottom: 5px;
  list-style-type: disc;
  color: #444444 !important;
}

.ClassifiedsBorder {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9eaf1;
}

#FavoritesPane,
#resultPane {
  scrollbar-base-color: #FFFFFF;
}

div.ModuleTab a.gallerylink,
div.ModuleTab a.gallerylink:visited {
  color: #0066A7;
}

div.ModuleTab div.Contents ul {
  margin: 0px 4px 0px 0px;
  padding: 0px;
  list-style-type: none;
}

div.ModuleTab div.Contents ul li {
  display: inline;
}

div.ModuleTab div.Contents ul li a.item {
  padding: 4px;
  display: block;
  float: left;
  width: 95%;
  text-decoration: none;
}

div.ModuleTab div.Contents ul li a.item:hover {
  cursor: pointer;
  background-color: #EDF2FB;
}

div.ModuleTab div.Contents ul li img {
  border: none;
  margin-right: 8px;
  float: left;
  width: 16x;
  height: 16px;
}

div.ModuleTab div.Contents ul li .label {
  float: left;
  width: 220px;
  color: #444444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.ModuleTab div.Contents ul li .action {
  margin-left: 4px;
  margin-right: 8px;
  float: left;
  color: #444444;
}

div.ModuleTab div.Contents ul li .subitems {
  margin-left: 48px;
}

div.ModuleTab div.Contents ul li .subitems .label {
  width: 196px;
}

div.CustomThemeTab a,
div.CustomThemeTab a:visited {
  color: #0066A7;
}

div.CustomThemeTab div.instructions {
  margin: 0px 4px 0px 8px;
  padding: 0px;
}

div.CustomThemeTab div.Contents div {
  float: none;
  display: block;
  width: 100%;
}

div.CustomThemeTab div.Contents div ul {
  margin: 0px 4px 0px 8px;
  padding: 0px;
  list-style-type: none;
}

div.CustomThemeTab div.Contents div ul li {
  margin: 0px;
  padding: 0px;
  float: left;
}

div.CustomThemeTab div.Contents div ul li.label {
  width: 7em;
}

div.CustomThemeTab div.Contents div ul li.default {
  margin-right: 0.5em;
}

div.CustomThemeTab div.Contents .colorrow {
  margin-left: 4px;
  display: block;
  width: 100%;
  height: 30px;
}

div.CustomThemeTab div.Contents .dropdownrow {
  margin-left: 4px;
  display: block;
  width: 100%;
  height: 40px;
}

div.CustomThemeTab div.Contents .checkboxrow {
  margin-left: 4px;
  display: block;
  width: 100%;
  height: 40px;
}

div.CustomThemeTab div.Contents div.colorrow a.defswatch {
  border: 1px solid #aaa;
  margin: 0px 12px;
  padding: 1px;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
}

div.CustomThemeTab div.Contents div.colorrow a.defswatch:hover {
  border: 1px solid #e9eaf1;
  margin: 0px 12px;
  padding: 1px;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
}

div.CustomThemeTab div.Contents div.colorrow a.defswatchon {
  border: 1px solid #d2eaf6;
  margin: 0px 12px;
  padding: 1px;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
}

div.CustomThemeTab div.Contents div.colorrow a.swatch {
  border: 1px solid #aaa;
  margin: 2px 4px 0px 0px;
  padding: 1px;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
}

div.CustomThemeTab div.Contents div.colorrow a.swatch:hover {
  border: 1px solid #e9eaf1;
  margin: 2px 4px 0px 0px;
  padding: 1px;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
}

div.CustomThemeTab div.Contents div.colorrow a.swatchon {
  border: 1px solid #d2eaf6;
  margin: 2px 4px 0px 0px;
  padding: 1px;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
}

div.CustomThemeTab div.Contents div.colorrow .colorinput {
  display: block;
  float: left;
  width: 7em;
}

div.CustomThemeTab div.Contents span.errorhex {
  margin-right: 8px;
  display: none;
  width: 100%;
  color: #EE2037;
}

div.CustomThemeTab .label,
div.CustomThemeTab label {
  color: #444444;
}

#CustomThemeTab_TextCategory_Text_default {
  background-color: #444444;
}

#CustomThemeTab_TextCategory_Link_default {
  background-color: #0066A7;
}

#CustomThemeTab_BackgroundCategory_Page_default {
  background-color: transparent;
}

#CustomThemeTab_BackgroundCategory_Body_default {
  background-color: #FFFFFF;
}

#CustomThemeTab_BackgroundCategory_Selection_default {
  background-color: #D2EAF6;
}

#CustomThemeTab_BackgroundCategory_Hover_default {
  background-color: #EDF2FB;
}

#CustomThemeTab_ModulesCategory_Background_default {
  background-color: #FFFFFF;
}

#CustomThemeTab_ModulesCategory_HeaderBackground_default {
  background-color: #FFFFFF;
}

#CustomThemeTab_ModulesCategory_HeaderLink_default {
  background-color: #0066A7;
}

#CustomThemeTab_ModulesCategory_BorderColor_default {
  background-color: #E9EAF1;
}