*{
  color: white;
  font-family: Tahoma, Helvetica, Sans-Serif;
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
}
a, a:visited{
    text-decoration: none;
}
.txt {
  font-size: 30px;
  text-align:center;
}

.img1{
  padding-left: 10px;
  float: left;
}
.img2{
  padding-right: 10px;
  float: right;
}
img {
  width: 664px;
  height: 400px;
}
h3, h1 {
  text-align:center;
}
